<!--/*
=====================================================
; Title: Employee Management System
; Author: Professor Cross
; Date 25 April 2021
; Modified By: Jourdan Neal
; Description: Footer for employee management system.
=====================================================
*/
-->
<!--Horizontal line to separate footer.-->
<hr>
<footer>
    <!--Footer, center text, add copyright sign and company name.-->
    <p style="text-align: center;">&#169 EMS Company 2017</p>
</footer>
