<!--/*
=====================================================
; Title: Employee Management System
; Author: Professor Cross
; Date 25 April 2021
; Modified By: Jourdan Neal
; Description: Header for employee management system.
=====================================================
*/
-->

<!--BootStrap Link-->
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<!--Header for the EMS system header. Will change color and size of 1st letter-->
<div style="margin:5px;">
  <!--Employee-->
<h1 style="margin-left:15px;"><span style="font-size:75px;color:#02475e">E</span>mployee
  <!--Management-->
  <span style="font-size:75px;color:#02475e">M</span>anagement
  <!--System-->
  <span style="font-size:75px;color:#02475e">S</span>ystem</h1>
</div>

