<!--/*
=====================================================
; Title: Employee Management System
; Author: Professor Cross
; Date 25 April 2021
; Modified By: Jourdan Neal
; Description: Navbar for employee management system.
=====================================================
*/
-->
    <!--Navbar-->
    <nav class="navbar navbar-expand-lg" style="background-color:#02475e;">
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <!--Unordered list for navbar items-->
          <ul class="navbar-nav mr-auto">

              <!--1st NavBar link for Home-->
            <li class="nav-item active">
              <a class="nav-link" style="color:aliceblue;" href="#">Home <span class="sr-only">(current)</span></a>
            </li>

            <!--2nd NavBar link for Home-->
            <li class="nav-item">
              <a class="nav-link" style="color:aliceblue;"href="#">About</a>
            </li>

            <!--3rd NavBar link for Home-->
            <li class="nav-item">
                <a class="nav-link" style="color:aliceblue;" href="#">Contact Us</a>
              </li>
        </ul>

        <!--Search bar in NavBar-->
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <!--Search button following search input box.-->
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit" 
            style="background-color: aliceblue;color:#02475e;border: black;">Search</button>
          </form>
  </div>
</nav>
