<!--
=====================================================
; Title: Assignment 3.4 Putting it all together--footer
; Author: Professor Krasso
; Date 3 April 2021
; Modified By: Jourdan Neal
; Description: EJS with bootstrap styling.
=====================================================
*/-->
</body>
</html>